$getsmart-branding-color: #021FDB;
$getsmart-secondary-color: #405aff;
$getsmart-tertiary-color: #01a7df;

$background-color: #FAFAFA;
$white: #FFFFFF;

// Primary
$black: #1B1B1B;
$standard-font-color: #1B1B1B;
$grey-400: #5A5A5A; // Used for grey writing
$grey-300: #BEBEBE;
$grey-200: #E8E6E6; // Used for element borders
$grey-100: #F8F8F8; // Used for backgrounds

// Other
$box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
$large-element-shadow: 0px 2px 12px 2px rgba(180,180,180,0.15);
$soft-element-shadow: 0 4px 20px rgba(0,0,0,0.035);
$blue-box-shadow: 0 0 3px 2px rgba(1, 167, 223, 0.7);

body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
}
p {
  margin: 0;
}
a {
  background-image: none;
  text-shadow: none;
  color: $black;
  &:hover {
    color: $grey-400;
  }
}

.flex-spacer {
  flex-grow: 1;
}

.small-line {
  margin-top: 24px;
  width: 120px;
  border: 3px solid $getsmart-branding-color;
}

.action-btn {
  font-weight: 600;
  background-color: $getsmart-branding-color;
  padding: 8px 16px;
  color: white;
  border: 2px solid $getsmart-branding-color;
  border-radius: 8px;
  &:hover {
    background-color: white;
    padding: 8px 16px;
    color: $getsmart-branding-color;
    cursor: pointer;
  }
}

.container {
  background-color: $background-color;
  max-width: 1200px;
  padding: 0 20px;
  margin: auto;
}

form {
  margin: auto;
  max-width: 600px;
  label,
  input,
  textarea {
    display: block;
    width: 100%;
  }
  label {
    font-weight: 600;
    color: black;
  }
  input,
  textarea {
    margin-bottom: 12px;
    padding: 0.375rem 0.75rem;
    border: 1px solid #CED4DA;
    color: black;
    border-radius: 0.25rem;
    font-weight: 500;
    max-width: 100%;
    min-width: 100%;
    &:focus {
      box-shadow: none;
      outline: none;
      border: 1px solid $getsmart-branding-color;
    }
  }
  button {
    float: right;
  }
}

.navbar-container {
  display: flex;
  flex-direction: row;
  padding: 30px 0 15px 0;
  .navbar-logo {
    margin-right: 42px;
  }
  .navbar-options,
  .navbar-actions {
    margin-top: 6px;
  }
  .navbar-option,
  .navbar-action {
    display: inline-block;
    font-size: 20px;
    padding-top: 8px;
  }
  .navbar-option {
    margin-right: 42px;
    &.navbar-button {
      padding-top: 0px;
      margin-top: -2px;
    }
  }
}

.footer-container {
  margin-top: 200px;
  position: absolute;
  left: 0px;
  width: 100vw;
  max-width: 100%;
  background-color: $grey-200;
  padding: 100px 0;
  .container {
    color: $grey-400;
    background-color: $grey-200;
    img {
      display: inline-block;
      margin-bottom: 0px;
    }
    .footer-options {
      vertical-align: top;
      display: inline-block;
      .footer-header {
        margin-bottom: 12px;
        font-weight: 600;
        font-size: 26px;
        line-height: 46px;
      }
      .footer-option {
        font-size: 20px;
        display: inline-block;
        padding-left: 30px;
        line-height: 50px;
      }
    }
    .footer-bottom {
      margin-top: 60px;
      .footer-line {
        font-size: 18px;
        margin-bottom: 12px;
      }
    }
  }
}

.intro-block {
  position: relative;
  margin: 80px 0 40px 0;
  .intro-text {
    width: 80%;
    .intro-header {
      font-size: 60px;
      line-height: 72px;
      margin-bottom: 24px;
      font-weight: 600;
    }
  }
  .sub-intro {
    .intro-subtext {
      vertical-align: top;
      width: 60%;
      color: $grey-400;
      display: inline-block;
      margin-top: 12px;
      font-size: 24px;
      line-height: 40px;
      padding-right: 60px;
    }
    img {
      display: inline-block;
      width: 40%;
      max-width: 380px;
    }
  }
  .action-btn {
    margin-top: 60px;
    width: 206px;
  }
  svg {
    margin-top: 40px;
    display: block;
    width: 80px;
    margin-left: -20px;
  }
}

.secondary-intro-block {
  max-width: 80%;
  margin: 80px 0px 160px 0px;
  .secondary-intro-text {
    text-align: left;
    .secondary-intro-header {
      font-weight: 600;
      font-size: 60px;
      line-height: 72px;
    }
    .secondary-intro-subtext {
      color: $grey-400;
      font-size: 30px;
      line-height: 48px;
      padding-right: 100px;
    }
  }
}

.feature-container {
  .feature-post {
    margin: 90px 15px;
    .feature-text {
      margin-top: 20px;
      width: calc(60% - 40px);
      display: inline-block;
      vertical-align: top;
      padding: 0 40px;
      .feature-title {
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 12px;
      }
      .feature-description {
        color: $grey-400;
        font-size: 24px;
        line-height: 42px;
      }
    }
    .feature-image {
      width: 40%;
      padding: 20px;
      display: inline-block;
      img {
        max-width: 100%;
      }
    }
    &:first-of-type {
      margin: 0 15px 90px 15px;
    }
  }
}

.attribute-post {
  border: 1px solid $grey-200;
  background-color: white;
  width: 23%;
  vertical-align: top;
  display: inline-block;
  margin: 0 1%;
  padding: 20px;
  box-shadow: $soft-element-shadow;
  border-radius: 12px;
  .attribute-text {
    vertical-align: top;
    .attribute-title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 6px;
    }
    .attribute-description {
      font-size: 20px;
      line-height: 28px;
    }
  }
  .attribute-image {
    width: 36px;
    height: 36px;
    margin-bottom: 12px;
    img {
      max-width: 100%;
    }
  }
  &:first-of-type {
    margin: 0 2% 0 0;
  }
  &:last-of-type {
    margin: 0 0 0 2%;
  }
}

.section-header {
  margin: 200px auto 80px auto;
  font-size: 52px;
  line-height: 60px;
  width: 80%;
  display: inline-block;
  text-align: left;
  font-weight: 600;
  .section-header-underline {
    margin-top: 12px;
    border-bottom: 6px solid $getsmart-branding-color;
    width: 115%;
  }
  &--small {
    margin: 120px auto 40px auto;
    font-size: 42px;
  }
  &--tiny {
    margin: 90px auto 20px auto;
    font-size: 32px;
  }
}

.testimonial-post {
  vertical-align: top;
  background-color: white;
  padding: 32px;
  border-radius: 8px;
  width: 48%;
  margin: 2% 1%;
  box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.1);
  display: inline-block;
  .testimonial-text {
    position: relative;
    .testimonial-author {
      vertical-align: middle;
      margin-left: 8px;
      display: inline-block;
      .testimonial-company,
      .testimonial-person {
        font-size: 18px;
        line-height: 24px;
        color: $grey-400;
        font-weight: 600;
      }
      .testimonial-person {
        color: $standard-font-color;
      }
    }
    .testimonial-img {
      display: flex;
      img {
        margin: auto;
        width: 80px;
        margin-right: 12px;
      }
    }
    .testimonial-description {
      color: $grey-400;
      margin-top: 24px;
      font-size: 20px;
    }
  }
  .testimonial-image {
    width: 120px;
    margin: 80px auto 0 auto;
    img {
      max-width: 100%;
    }
  }
}

.module-text {
  margin-top: 100px;
  .module-title,
  img,
  .module-title--property {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 28px;
    line-height: 36px;
  }
  .module-title {
    margin-top: 0px;
    font-size: 36px;
    margin-right: 22px;
  }
  img {
    height: 36px;
    width: 36px;
    margin-right: 12px;
  }
  .module-title--property {
    font-size: 20px;
    font-weight: 500;
    color: $grey-400;
  }
  .module-description {
    color: $grey-400;
    font-size: 24px;
    line-height: 42px;
    max-width: 800px;
    p {
      margin-bottom: 24px;
    }
  }
  &.indented {
    margin-left: 200px;
  }
}

.team-intro {
  max-width: 900px;
  color: $grey-400;
  font-size: 24px;
  line-height: 42px;
  margin-bottom: 24px;
  p {
    margin-bottom: 18px;
  }
}
.member-container {
  width: 23%;
  max-width: 280px;
  margin: 24px 1%;
  display: inline-block;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.10);
  .member-post {
    .member-text {
      .member-title {
        margin-top: 0px;
        margin-bottom: 0px;
      }
      .member-description {
        margin-top: 0px;
        font-size: 18px;
      }
    }
    .member-image {
      margin: auto;
      margin-bottom: 0px;
      img {
        width: 100%;
      }
    }
  }
}

.header-right-page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 30;
  background-color: white;
}
.header-right-page .header-right-item {
  display: block;
  height: 60px;
  text-align: center;
  text-decoration: none;
  line-height: 60px;
  border-bottom: 1px solid #E3E3E3;
  margin-left: 0px;
  color: #1B1B1B;
  font-weight: 600;
}
.header-right-page .header-right-item:first-of-type {
  display: block;
}
.header-right-page .header-right-item:last-of-type {
  border-bottom: 1px solid #E3E3E3;
  border-width: 0px 0px 1px 0;
  padding: 0px;
}
.header-right-burger {
  color: #1b1b1b;
  display: none;
  margin-right: 8px;
  svg {
    height: 28px;
    width: 28px;
  }
}

@media (max-width: 700px) {
  .header-right-burger {
    display: inline-block;
    line-height: 70px;
  }
  .navbar-options,
  .navbar-actions {
    display: none;
  }

  .intro-block {
    margin: 60px 0 20px 0;
    .intro-text {
      width: 100%;
      .intro-header {
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 24px;
      }
    }
    .sub-intro {
      .intro-subtext {
        width: 100%;
        margin-top: 0px;
        font-size: 22px;
        padding-right: 0px;
      }
      img {
        display: none;
      }
    }
    .action-btn {
      margin-top: 40px;
    }
  }

  .section-header {
    margin: 90px auto 40px auto;
    font-size: 42px;
    line-height: 60px;
    width: 100%;
  }

  .secondary-intro-block {
    max-width: 100%;
    margin: 60px 0px 120px 0px;
    .secondary-intro-text {
      .secondary-intro-header {
        font-size: 46px;
        line-height: 72px;
      }
      .secondary-intro-subtext {
        padding-right: 0px;
        font-size: 26px;
        line-height: 48px;
      }
    }
  }

  .feature-container {
    .feature-post {
      margin: 60px 15px 90px 15px;
      .feature-text {
        margin-top: 0px;
        width: 100%;
        padding: 0px;
        .feature-title {
          font-size: 36px;
          font-weight: 600;
          margin-bottom: 12px;
        }
        .feature-description {
          font-size: 22px;
          line-height: 36px;
          margin-bottom: 24px;
        }
      }
      .feature-image {
        width: 60%;
        margin: auto;
        padding: 0px;
        display: block;
        img {
          margin-bottom: 0px;
        }
      }
      &:first-of-type {
        margin: 60px 15px 90px 15px;
      }
    }
  }

  .attribute-post {
    width: 96%;
    margin: 2%;
    padding: 20px;
    .attribute-text {
      .attribute-title {
        font-size: 24px;
        margin-bottom: 6px;
      }
      .attribute-description {
        font-size: 20px;
        line-height: 28px;
      }
    }
    &:first-of-type {
      margin: 2%;
    }
    &:last-of-type {
      margin: 2%;
    }
  }

  .testimonial-post {
    width: 96%;
    margin: 2% 1%;
  }

  .module-text {
    margin-top: 80px;
    .module-title,
    img,
    .module-title--property {
      margin-bottom: 16px;
      line-height: 28px;
    }
    .module-title {
      margin-top: 0px;
      font-size: 28px;
      margin-right: 22px;
    }
    img {
      height: 28px;
      width: 28px;
    }
    .module-title--property {
      display: block;
      font-size: 18px;
    }
    .module-description {
      font-size: 22px;
      line-height: 34px;
    }
    &.indented {
      margin-left: 30px;
    }
  }

  .team-intro {
    font-size: 22px;
    line-height: 36px;
  }
  .member-container {
    width: 96%;
    margin: 24px auto;
    padding: 20px;
    display: block;
  }

  .footer-container {
    margin-top: 120px;
    padding: 75px 0;
    .container {
      img {
        display: inline-block;
        margin-bottom: 0px;
      }
      .footer-options {
        display: block;
        margin-top: 20px;
        .footer-option {
          padding-right: 30px;
          padding-left: 0px;
        }
      }
    }
  }
}
